@model ControleFrota.UI.Models.ViewModels.VeiculoViewModel

@{
    ViewData["Title"] = "Novo Veiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Novo Veiculo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <span class="text-danger">@ViewBag.Erro</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Chassi" class="control-label"></label>
                <input asp-for="Chassi" class="form-control" />
                <span asp-validation-for="Chassi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" id="Tipo" asp-items="Html.GetEnumSelectList<ControleFrota.MDL.Enumeradores.Tipo>()" class="form-control">
                    <option>Selecione o Tipo de Período</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPassageiros" class="control-label"></label>
                <input asp-for="NumeroPassageiros" id="NumeroPassageiros" class="form-control" Readonly />
                <span asp-validation-for="NumeroPassageiros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inserir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#Tipo').change(function () {
            $.ajax({
                url: '/Veiculos/GetNumeroPassageiros',
                type: 'POST',
                data: { tipo: $(this).val() },
                datatype: 'json',
                success: function (data) {
                    $("#NumeroPassageiros").val(data);
                }
            });
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
